.page {
  background: #f3f7f9;
  color: #451900;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emotionLinkList {
  width: 100%;
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
  justify-content: center;
  align-items: center;
}

.linkTitle {
  grid-area: content;
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 72px;
  text-align: center;

  white-space: nowrap;

  padding: 0 50px;
}
