.page {
  background: #f3f7f9;
  color: #451900;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  --col-width: 350px;
}

.emotionLinkList {
  width: 100%;
  max-width: 100vw;
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100vh;*/

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  --rows: calc(15);
  /* --columns: 1; */
  /* grid-template-columns: repeat(var(--columns), 1fr); */
  grid-template-columns: repeat(auto-fit, var(--col-width));
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  grid-auto-rows: auto;
}

/* @media screen and (min-width: calc(2 * var(--col-width))) { */
@media screen and (min-width: 700px) {
  .emotionLinkList {
    --rows: 8;
    /* --columns: 2; */
  }
}

@media screen and (min-width: 1050px) {
  .emotionLinkList {
    --rows: 5;
    /* --columns: 3; */
  }
}

.linkTitle {
  grid-area: content;
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 72px;
  text-align: center;

  white-space: nowrap;

  padding: 0 25px;
}
